{% extends "global/Page.html" %}
{% load otree static %}
{% block styles %}
    <style>
        a:link {
            color:#0400ff;
        }
        a:hover {
            text-color:#007bff;
            cursor:pointer;
        }
        a:active {
            color: #D11222;
        }
    </style>
{% endblock %}
{% block scripts %}
<script>

    function show_definition() {
        var x = document.getElementById("definition");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    document.querySelector('[name=ratingPreview10]').value = ;
    document.querySelector('[name=ratingPreview11]').value = ;
    document.querySelector('[name=ratingPreview12]').value = ;

    document.querySelector('[name=ratingPreview22]').value = ;
    document.querySelector('[name=ratingPreview23]').value = ;
    document.querySelector('[name=ratingPreview24]').value = ;

</script>
{% endblock %}
{% block content %}
<!-- ------------------------------- Header -------------------------------- -->
<div class="outer-head-div">
    <span class="inner-head-div-text new-title">
        <!-- Title -->
    </span>

    <div class="inner-head-div-logo">
        <img src="{% static 'Hypothesentesten/hd-logo-sw.png' %}" class="logo"/>
    </div>
</div>
<hr style="margin-top:1px; margin-bottom:15px;">
<!-- ------------------------------- Header -------------------------------- -->



<h3>
    Abschließende Befragung - Seite 2
</h3>


<p>
    Weiter geht es:
    <br>
    Bitte beantworten Sie die Fragen zu den einzelnen Suchergebnissen auf Basis der
    Definition von Polizeigewalt und Ihrer persönlichen Einschätzung. Bitte bedenken
    Sie nochmals: Die Quellen der Suchergebnisse sind alle gleich verlässlich.
    <br>
</p>




<div class="definition-box" id="definition" style=" border: 1px solid #ccc; padding: 8px; text-align:justify;
font-size:0.8rem; margin-top: 10px; margin-bottom: 10px; width:50%; margin-left:auto; margin-right:auto;">
    Nach deutscher Rechtslage sind Polizeivollzugsbeamte im Rahmen ihrer
    polizeilichen Aufgabenerfüllung ermächtigt, innerhalb der Vorschriften über
    unmittelbaren Zwang und Notwehr auch physische Gewalt anzuwenden.
    <br>
    Zu jeder Zeit haben Polizeivollzugsbeamte das Prinzip der Verhältnismäßigkeit
    zu wahren. Stärke und Ausmaß der Gewalt und die eingesetzten Mittel müssen
    im Verhältnis zur Situation und den Umständen der Gewaltanwendung stehen.
    Sind diese Voraussetzungen nicht gegeben, wird also übermäßig starke Gewalt,
    oder unverhältnismäßige Gewaltmittel in einem die Gewalt nicht rechtfertigenden
    Kontext angewendet, spricht man von Polizeigewalt.
</div>



<!-- --------------------------- Preview-Abfrage --------------------------- -->

<!-- ----------------------------- Suchergebnis 10 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Friedliche Proteste von Polizei aufgelöst
    <div class="full-article-text">
    ... kesselten Demonstrant*innen ein und verwendeten Wasserwerfer und Pfefferspray um ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview10" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview10" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- Suchergebnis 22 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Kontrolle nur mühsam erkämpft - Polizei setzt Gewalt ein
    <div class="full-article-text">
    ... wütender Mob zündete Barrikaden an, plünderte Geschäfte, verwüstete große Teile des Viertels ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview22" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview22" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- Suchergebnis 11 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Video dokumentiert Polizeieinsatz
    <div class="full-article-text">
    ... zwei Polizisten einen Demonstranten (…) auf den Boden drücken und mit dem Kopf unter ein Auto zerren. Als der Wagen ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview11" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview11" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- Suchergebnis 23 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Polizei-Reaktion auf Flaschenwürfe
    <div class="full-article-text">
    ... wurden die Einsatzkräfte aus der Menge mit Flaschen angegriffen. Mindestens sechs Beamte wurden verletzt ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview23" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview23" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- Suchergebnis 12 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Sitzblockade mit Pfefferspray aufgelöst
    <div class="full-article-text">
    ... Beamter steht mit einer Sprühflasche vor der Gruppe und sprüht Pfefferspray auf ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview12" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview12" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- Suchergebnis 24 -------------------------- -->
<div class="blank-space-medium"></div>

<div class="full-article-heading">
        Polizeieinsatz am Samstag: Verletzte auf beiden Seiten
    <div class="full-article-text">
    ... Sicherheitskräfte enormer Aggressivität und auch Gewalt durch Demonstrant*innen ausgesetzt ...
    </div>
</div>
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
        Handelt es sich bei dem in diesem Suchergebnis beschriebenen Sachverhalt um einen Fall von Polizeigewalt?<br>
    </div>
    <input type="radio" id="rating1" name="ratingPreview24" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating1">Ja</label>
    <br>
    <input type="radio" id="rating2" name="ratingPreview24" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="rating2">Nein</label>
</div>
<!-- ----------------------------------------------------------------------- -->


<!-- ------------------- Next-Button und Bottom-Line ---------------- -->

<br>
<button class="otree-btn-next btn btn-primary">Weiter</button>

<hr>
<p> <a href="mailto: lob@stud.uni-heidelberg.de" target="_blank">Aaron Lob</a>, Universität Heidelberg  - 2020</p>

{% endblock %}
