{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<!-- ------------------------------- Header -------------------------------- -->
<div class="outer-head-div">
    <span class="inner-head-div-text new-title">
        <!-- Title -->
    </span>

    <div class="inner-head-div-logo">
        <img src="{% static 'Hypothesentesten/hd-logo-sw.png' %}" class="logo"/>
    </div>
</div>
<hr style="margin-top:1px; margin-bottom:15px;">
<!-- ------------------------------- Header -------------------------------- -->


<h3>Vielen Dank für Ihre Teilnahme!</h3>

<p style="text-align:justify;">
    Wir möchten uns vielmals bedanken, dass Sie an unserer Studie teilgenommen und dadurch unsere
    Forschung unterstützt haben und hoffen, Sie wieder zu einer Studie der Arbeitseinheit für
    Sozialpsychologie begrüßen zu dürfen!
    <br>
</p>

<p>
    Mit drücken auf <b>F11</b> können Sie den Vollbildmodus wieder verlassen.
</p>

<p>
    Hier kommen Sie zurück zu <b>Prolific</b>:
    <a href="https://app.prolific.co/submissions/complete?cc=5004D8E7" target="_blank" style="font-weight:bold;">
        https://app.prolific.co/submissions/complete?cc=5004D8E7
    </a>
</p>

<p>
    Web-Seite der Arbeitseinheit:
    <a href="https://www.psychologie.uni-heidelberg.de/ae/crisp/Home.html" target="_blank" style="font-weight:bold;">
        Cognitive Research in Social Psychology, University of Heidelberg
    </a>
</p>

<p>
    Sie können das Broweserfenster nun schließen.
</p>

<!-- ------------------- Next-Button und Bottom-Line ---------------- -->


<hr>
<p> <a href="mailto: lob@stud.uni-heidelberg.de" target="_blank">Aaron Lob</a>, Universität Heidelberg  - 2020</p>

{% endblock %}
