{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<!-- ------------------------------- Header -------------------------------- -->
<div class="outer-head-div">
    <span class="inner-head-div-text new-title">
        <!-- Title -->
    </span>

    <div class="inner-head-div-logo">
        <img src="{% static 'Hypothesentesten/hd-logo-sw.png' %}" class="logo"/>
    </div>
</div>
<hr style="margin-top:1px; margin-bottom:15px;">
<!-- ------------------------------- Header -------------------------------- -->


<h4>
    Achtung!
</h4>


<p>
    Sie benutzen ein mobiles Endgerät oder Ihre Browserfenster ist zu klein.
    Wenn Sie an der Studie teilnehmen möchten, benutzen Sie bitte einen PC/Laptop mit Bildschirm
    und vergrößern Sie das Browserfenster.
</p>


<p>
    Sie können dieses Fenster nun schließen und nochmals an unserer Studie teilnehmen.
</p>




<!-- ------------------- Next-Button und Bottom-Line ---------------- -->

<br>

<hr>
<p> <a href="mailto: lob@stud.uni-heidelberg.de" target="_blank">Aaron Lob</a>, Universität Heidelberg  - 2020</p>

{% endblock %}
